#wrapper {
	width: 800px;
	margin: 0 auto;
}

#links {
	position: relative;
	float: right;
	top: 20px;
	margin-left: 8px;
}

#links2 {
	position: relative;
	float: right;
	bottom: -60px;
	margin-left: 8px;
}

.imgreizen {
	position: relative;
	float: right;
	top: 5px;
}

fieldset{
	background:#FFD988;
	min-height: 150px;
}

.kopjes { 
	background: #F47A00; 
	color: black; 
	padding: .2em .3em; 
	font-size: 1.2em; 		
	width: 10em; 
	border: 2px outset #D76B00; 
	position: relative; 		
	margin-bottom: -1em; 
	margin-left: 1em; 
	margin-top: 1em; 
}