#landen
{
    background-color: #FF6600; 
    width: 150px;
    float: right;
    font-size: 2em;
    height: 50px;
    text-align: center;
    color: white;
}


#lijst
{
    background-color: #FFCC99;
    list-style-type: none;    
    width: 150px;
    float: right;
}


#lijst ul 
	{
		 list-style-type: none;
		 color: white;
  }
  
#lijst ul a:link
	{
		color: black;
		text-decoration: none;
	}
#lijst ul a:hover
	{
		color: black;
		text-decoration: underline;
	}


#invoergegevens
	{
		display: inline;
	    background-color: #FFCC99;       
	    border: 1px solid blue;   
	    list-style-type: none;    
	    width: 150px;
	    position: relative;
	    color: black;
	    top:-2px;
	    float: right;
	}

h1
	{
		text-align: center;
	}
	


