label {
	float: left;	  	
	width: 10em;
}

.knop {
	position: relative;
	left: 10em;
}

h1 { 
	background: #F47A00; 
	color: black; 
	padding: .2em .3em; 
	font-size: 1.2em; 		
	width: 10em; 
	border: 2px outset #D76B00; 
	position: relative; 		
	margin-bottom: -1em; 
	margin-left: 1em; 
	margin-top: 1em; 
}

fieldset{
	background:#FFD988;
	min-height: 150px;
}