#menuhor {
	margin: 0 auto;
	padding: 0;
}
	
#menuhor ul {
	margin:0;
	padding:139px 0 0 40px;
	list-style-type:none;
}

#menuhor li	{
	float: left;
	margin-left:20px;
	background-image: url('../img/menuknopje.png');
}
	
#menuhor li a {
	padding: 5px 0 0 0;
	text-align: center;
	display:block;			
	width: 120px;
	height: 26px;
}
	
#menuhor li a:hover {
	font-weight: bold;
}
	
#menuhor li a.active {
	border-bottom: none;
}
		
#menuhor li a:link,#menuhor li a:visited {
	color: white;
	text-decoration: none;
	position: relative;	
}
		
input, textarea {
	font-size: 10pt;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #999;
	background-color: #FEFEFE;
	margin:3px;
}

/** VERTICAL MENU **/

div#menuv {
	width: 150px;
	height: 100px;
}

a.menulv {
	display:block;
	width: 150px;
	height: 22px;
	background: #FFA007;
	margin-top: 2px;
	text-decoration: none;
	padding: 2px;
	border: 2px;
	position: relative;
	left: 620px;
	top: -430px;
}

#menuv a:link, #menuv a:visited	{
	color: #FFFFFF;
}

#menuv a:hover, #menuv a:focus	{
	background: #FE9A2E;
	color: #0010F4;
}

button:hover{cursor:pointer}
input[type="submit"]{cursor:pointer}
input[type="button"]{cursor:pointer}
input[type="radio"]{cursor:pointer}