	#menuhor {
		margin: 0 auto;
		padding: 0;
	}
	
	#menuhor ul {
		margin:0;
		padding:130px 0 0 0;
		list-style-type:none;
	}

	#menuhor li
		{
			float: left;
			margin-left:20px;
			background-image: url('../img/menuknopje.png');
		}
	
	#menuhor li a 
		{
			padding: 10px 0 0 0;
			text-align: center;
			display:block;			
			width: 120px;
			height: 30px;
		}
	
	#menuhor li a:hover 
		{
			background-image: url('../img/menuknopje.png');
			font-weight: bold;
		}
	
	#menuhor li a.active 
		{
			border-bottom: none;
		}
	a:link,a:visited
		{
			color: white;
			text-decoration: none;
			position: relative;			
		}
