div#menuv
	{
		width: 150px;
		height: 700px;
	}

a.menulv
	{
		display:block;
		width: 150px;
		height: 22px;
		background: #FFA007;
		margin-top: 2px;
		text-decoration: none;
		padding: 2px;
		border: 2px;
	}
a:link, a:visited
	{
		color: #FFFFFF;
	}
a:hover, a:focus
	{
		background: #FF406;
		color: #0010F4;
	}