body {
	background: #FF9E00;
	margin:0;
	padding:0;
}

.red {color: #f00;}

#container {
	position: absolute;
	width:800px;
	margin-left: -400px;
	left: 50%;
	padding:0;
	background:white;
	min-height: 100%;
}

#header {
	position: relative;
	width:800px;
	height:170px;
	margin:0;
	padding:0;
	background: center center no-repeat url("../img/header.png");
	border-bottom: 2px groove #FF9E00;
}

#login {
	width:180px;
	position: absolute;
	right:0;
}

#login form {
}

#links {
	float: right;
	margin-left: 15px;
}

#rechts {
	width: 150px;
	float: right;
}

.clear {
	clear: both;
}

a {
	cursor: pointer;
}
	
span.links {
	float: right;
}

/** --------------------------------------- **/
/**            BESTEMMING                   **/
/** --------------------------------------- **/

.imgreizen {
	float: right;
}

.kopjes { 
	background: #F47A00; 
	color: black; 
	padding: .2em .3em; 
	font-size: 1.2em; 		
	width: 10em; 
	border: 2px outset #D76B00; 
	position: relative; 		
	margin-bottom: -1em; 
	margin-left: 1em; 
	margin-top: 1em; 
}

div.lbutton {
		margin-left: 200px;
}

a.button {
		background-color:  #FFA007;
		text-decoration: none;
}

/** --------------------------------------- **/
/**            FORMS	                    **/
/** --------------------------------------- **/

#form { 
	font-family: "Trebuchet MS", Verdana, sans-serif; 
}

fieldset 
	{ 
		background:#FFD988;
		min-height: 150px;
		max-width: 750px;
		margin-left: 10px;
		border: none; 
		margin-bottom: 1em; 
		padding: 1.5em 15px 15px
	}
p.legend
	{ 
		background: #F47A00; 
		color: black; 
		padding: .2em .3em; 
		font-size: 1.2em; 		
		width: 10em; 
		border: 2px outset #D76B00; 
		position: relative; 		
		margin-bottom: -1em; 
		margin-left: 1em; 
		margin-top: 1em;
	}
.plaatje1
	{
		float: right;
	}
#personal 
	{ 
	
	  width: 700px;
	  height: 250px;
	  background:#FFD988; 
	  border: outset #FED877; 
	}
.reis
	{ 
	  width: 700px;
	  background:#FFD988; 
	  border: outset #FED877; 
	  margin: 10px auto;
	  padding: 10px;
	}
.reis2
	{ 
	  width: 700px;
	  background:#FFD988; 
	  border: outset #FED877; 
	  margin: 10px 50px;
	  padding: 10px;
	}
div.pi
	{
		margin-left: -10px;
		margin-top: 10px;
	}
label.left
	 {
	  position: absolute;
	  font-size: 90%;
	  padding-top: .2em;
	  left: 40px;
	}
#personal input 
	{
	  margin-left: 2em;
	  line-height: 1.4em;
	  margin-bottom: .2em;
	}
#personal select
	{ 
	  margin-left: 5em;
	  line-height: 1.4em;
	  margin-bottom: .2em;
	}

div.lbutton
	{
		margin-left: 200px;
	}
div.buttonl1
	{
		margin-left: 80px;
	}
a.button
	{
		background-color:  #FFA007;
		text-decoration: none;
	}
	
.leftov1
	{
	float: left;	  	
	width: 8em;
	padding: 0 0 0 15px;
}
.leftov2
	{
		margin-left: 10px;
		float: left;
	}
	
.leftov2 + br {
	clear: both;
	}
	
/** ADMIN **/
#admin, #gebruiker {
    background-color: #FFA007;
    height: 635px;
    padding: 0 15px 15px;
    right: -265px;
}

#gebruiker 	{top: 15px;}
#admin 		{top: 15px; position: absolute;}

/*#admin p:first-child, #gebruiker p:first-child {
	text-align: center;
	width: 250px;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
}*/
